.card-list {
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
}

.card-container {
  font-family: 'Karla', 'sans-serif';
  font-size: 16px;
  display: flex;
  flex-direction: column;
  width: 280px;
  background-color: #d9d9d9;
  margin: 25px 0;
  border-radius: 1rem 1rem 0 0;
  color: #333;
}

.specials-image-container {
  width: 280px;
  overflow: hidden;
  border-radius: 1rem 1rem 0 0;
}

.specials-image {
  object-fit: cover;
  height: 250px;
}

.specials-name {
  display: flex;
  justify-content: space-between;
  font-weight: 800;
}

.specials-price {
  color: #ee9972;
}
.specials-details {
  padding: 1rem;
}

.specials-description {
  height: 160px;
  padding: 30px 0;
}

.specials-delivery {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 768px) {
  .card-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .card-container {
    width: 350px;
  }

  .specials-image-container {
    width: 350px;
  }

  .specials-image {
    height: 300px;
  }
}

@media (min-width: 1440px) {
  .card-list {
    grid-template-columns: repeat(3, 1fr);
    display: flex;
    justify-content: space-between;
  }

  .card-container {
    width: 250px;
  }

  .specials-image-container {
    width: 250px;
  }

  .specials-image {
    height: 200px;
  }
}

@media (min-width: 1728px) {
  .card-container {
    width: 400px;
  }

  .specials-image-container {
    width: 400px;
  }

  .specials-image {
    height: 350px;
  }
}
