/* CSS RESETS */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements, which suggests default styling will be removed */
ul,
ol {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove links decoration*/
a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

/* HEADER */
header {
  position: fixed;
  width: 100%;
  background-color: white;
}

/* NAV */
.nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 1rem 0;
}

.nav-links-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  padding-left: 1rem;
  text-transform: uppercase;
}

/* HAMBURGER */
.hamburger-on {
  display: none;
}

.nav-menu {
  background-color: #495e57;
  width: 75vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4rem;
  position: fixed;
  top: 0;
  right: -100%;
  transition: 850ms;
  color: white;
  border-top-left-radius: 1rem;
}

.nav-menu.active {
  right: 0;
  transition: 350ms;
}

/*CALL TO ACTION */
.call-to-action {
  height: 100vh;
  padding-top: 5rem;
}

/* BOOKING PAGE */
.bookings {
  height: 100vh;
  padding-top: 5rem;
}

/* SPECIALS */
.specials {
  height: 100vh;
  padding-top: 5rem;
}

/* TESTIMONIALS */
.testimonials {
  height: 100vh;
  padding-top: 5rem;
}

/* ABOUT */
.about {
  height: 100vh;
  padding-top: 5rem;
}

/* FOOTER */
footer {
  height: max-content;
  padding: 5rem 0;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.footer-photo {
  width: 150px;
  height: 300px;
  grid-column: 3 / span 2;
}

.grid-item-nav {
  grid-column: 5;
}

.grid-item-contact {
  grid-column: 7;
}

.grid-item-socials {
  grid-column: 8 / span 4;
}

/* MEDIA QUERIES */
@media (max-width: 768px) {
  /* NAV */
  .nav-container {
    display: flex;
    justify-content: flex-start;
  }
  .nav-links-container {
    display: none;
  }

  /* HAMBURGER */
  .hamburger-on {
    display: flex;
    cursor: pointer;
  }

  .hamburger-off {
    display: none;
  }

  /* FOOTER */
  .footer-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .footer-photo {
    display: none;
  }

  .grid-item-nav {
    grid-column: 1;
  }

  .grid-item-contact {
    grid-column: 1;
  }

  .grid-item-socials {
    grid-column: 1;
  }
}
